@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Sans:wght@400;700&family=Russo+One&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body{
    background:url("../images/fondo.jpg");
    font-family: 'PT Sans', sans-serif;
}

main{
    background: #FFF;
    width: 1000px;
    margin: 20px auto;
    box-shadow: 10px 10px 20px #292929;
}

header{
    margin: 20px 0;
    text-align: center;
    border-bottom: 4px inset rgba(41, 41, 41, .5);
    padding: 20px 0;
}

header img{
    float: left;
    margin-left: 20px;
}

h1{
    font-size: 50px;
    color: #71071E;
    text-align: center;
    float: right;
    margin: 45px 130px 0 0;
    font-family: 'Russo One', sans-serif;
}

nav{
    margin: 20px 0;
    padding:0 20px 20px;
    border-bottom: 4px inset rgba(41, 41, 41, .5);
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding:7px 10px;
    border-radius: 10px;
}

nav ul li a:hover{
    background-color:#71071E;
}

section{
    padding: 20px;
    text-align: justify;
}

section h2{
    font-size: 30px;
    padding: 10px 0;
    color: #71071E;
    font-family: 'Oswald', sans-serif;
}

section p{
    margin: 20px 0;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    margin: 20px 0;
}

/* IDENTIFICADORES */


/* CLASES */
.centrar{
    margin-top: 30px;
    text-align: center;
}

.imgFloat{
    float: left;
}

.caja{
    border: 1px solid #292929;
    box-shadow: 2px 2px 2px #292929;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 50px;
    float: right;
    width: 60%;
}

.clear{
    clear: both;
}